h1 {
    text-align: center;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-name: vip;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes vip {

    0%,
    100% {
        color: blue;
        /* transform: rotate(360deg); */
    }

    50% {
        transform: scale(1.5);
        color: brown;
        /* transform: translateY(50px, 1100px); */
    }
}